#my-times {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}

.nav-out-top ul {

}

.nav-out-top li {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
