#header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
}

#my-times {
  color: MediumAquamarine;
  padding-left: 30px;
  height: 60;
  width: 250;
}

#top {
  color: black;
  padding-right: 40px;
}

#content {
    display: flex;
    padding-top: 116px;
    border: 1px solid black;
    width: 1232px;
    margin: 0 auto 78px auto;
  }

.column.large {
  width: 630px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large div {
  border: 1px solid black;
  display: block;
}

.column.medium {
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.medium div {
  border: 1px solid black;
  display: block;
}

.column.small {
  width: 240px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.small div {
  border: 1px solid black;
  display: block;
}

#mother {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

#mother h1 {
  font-family: Georgia;
      font-weight: bold;
      color: white;
}
